@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.display-page {
    background-color: #45fae8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
}

.ticket-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.add-button {
    margin-top: 20px;
}

.bin {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #0088cc;
    border-radius: 5px;
    color: #0088cc;
    cursor: pointer;
}
.edit-button {
    margin-top: 10px;
}

.unique-font {
    font-family: 'Shadows Into Light', cursive;
}
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}
.menu-button-container {
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header h1 {
    flex: 1;
    text-align: center;
}
.sort-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
